/*
* Projeto: Teste eVenture
* Author: Bruno Moreira Alves
* Author URI: https://www.behance.net/bmalves83
* Version: 1.0
*/
/*
* Indice
* 1 - Estilos Base
*/
// PADRÕES
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&display=swap');
@import 'variaveis';
@import 'botoes';
@import 'reset';

html {
    overflow-x: hidden !important;

    body {
        // Base
        overflow-x: hidden !important;
        font-size: 20px;
        color: $corPrimaria;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        position: relative;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: $titulo;
            text-transform: uppercase;
            color: $corBranca;
            font-weight: 800;
        }

        h1 {
            font-size: 4em;
        }

        h2 {
            font-size: 3em;
        }

        h3 {
            font-size: 2em;
        }

        h4 {
            font-size: 1.4em;
        }

        h5 {
            font-size: 1.2em;
        }

        h6 {
            font-size: 1em;
        }

        p,
        span {
            font-family: $texto;
            font-size: 1em;
            line-height: 20pt;
            font-weight: 400;
        }

        a {
            i, svg{
                transition: all .5s linear;
                font-size: 4em!important;
                margin-bottom: 20px;
                color: $corPrimaria;
            }
            p{
                transition: all .5s linear;
                color: $corBranca;
                font-size: 1.3em;
            }
            &:hover {
                text-decoration: none;
                i, svg{
                    color: $corBranca;
                }
                p{
                    color: $corPrimaria;
                }
            }
        }

        figure {
            margin: 0;
            padding: 0;
        }

        img {
            max-width: 100%;
            object-fit: contain;
        }

        section {
           &.conteudo{
               position: relative;
               z-index: 100;
               color: white;
               .box{
                   height: 100vh;
               }
               .bg-light-white{
                   background: rgba(255,255,255,.15);
                   border: 1px solid white;
               }

               .bg-white{
                   background-color: $corBranca;
                   color: $corPreta;
               }

            }
        }
        
    }
}

a.btn{
    position: relative;
    i, svg{
        font-size: 1em!important;
        margin-right: 10px;
        position: absolute;
        top: 30%;
        left: 20%;
    }
}

#carousel-fixo{
    width: 110%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -1.55%;
    right: 0;
    bottom: 0;
    z-index: 0;
    .item{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 1920px;
        img{
            height: 100vh;
            object-fit: cover;
        }
    }
    &::after{
        content: '';
        position: absolute;
        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgba(2,0,36,0.8267507686668417) 0%, rgba(9,30,121,0.4878151944371498) 37%, rgba(0,212,255,0.5522409647452731) 100%);
        width: 100%;
        height: 100%;
        top:0;
        left:0;
    }
}
@import 'media-queries.scss';