/*  CORES DO TEMA */

$corPrimaria: #0fe0ba;
$corSecundaria: #0fe0ba;
$corTerciaria: var(--corTerciaria);
$quartaCor: var(--corBody);
$quintaCor: var(--corAuxiliar);

/* VARIÁVEIS CORES PADRÕES */

$corBranca: #fff;
$corPreta:#1a1a1a;

/* Fontes */
$texto: 'Calibri', sans-serif;
$titulo: 'Nunito Sans', sans-serif;
